@model TeleconApp.Models.SplicerModel
<label>Basic Info</label>
<div class="panel panel-group panel-info">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-sm-5" for="Id">Employment Id:</label>
                <div class="col-sm-7">
                    <input type="number" class="form-control" id="Id" placeholder="Enter Employment Id" value=@ViewData["UserName"] name="Id">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-sm-5" for="TechName">Tech Name:</label>
                <div class="col-sm-7">
                    <input type="text" maxlength="50" class="form-control" id="TechName" placeholder="Enter Tech Name" value="@ViewData["FullName"]" name="TechName">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-sm-5" for="ForemanName">Foreman Name:</label>
                <div class="col-sm-7">
                    <select name="ForemanName" class="dropdown form-control" id="ForemanName">
                        <option></option>
                        @foreach (var item in Model.Employees)
                        {
                            <option value="@item.Id">@item.TechName</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-sm-5" for="LeadName">Lead Name:</label>
                <div class="col-sm-7">
                    <select name="LeadName" class="dropdown form-control" id="LeadName">
                        <option></option>
                        @foreach (var item in Model.Employees)
                        {
                            <option value="@item.Id">@item.TechName</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-sm-5" for="PlateNumber">Vehicle/Truck ID:</label>
                <div class="col-sm-7">
                    <select name="PlateNumber" class="dropdown form-control" id="PlateNumber">
                        <option></option>
                        @foreach (var item in Model.Vehicles)
                        {
                            <option value="@item.Id">@item.PlateNumber</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
