@{
    var controllerName = ViewContext.RouteData.GetRequiredString("controller");
    var actionName = ViewContext.RouteData.GetRequiredString("action");
}
@*<style>
    .vertical-menu {
        width: 200px;
    }

        .vertical-menu a {
            background-color: #eee;
            color: black;
            display: block;
            padding: 12px;
            text-decoration: none;
        }

            .vertical-menu a:hover {
                background-color: #ccc;
            }

            .vertical-menu a.active {
                background-color: #4CAF50;
                color: white;
            }
</style>
<div class="vertical-menu">
    <a href="/@controllerName/Index" class="@(@actionName == "Index" ? "active" : "")">Prep</a>
    <a href="/@controllerName/Test" class="@(@actionName == "Test" ? "active" : "")">Test</a>
    <a href="/@controllerName/TimeSheet" class="@(@actionName == "TimeSheet" ? "active" : "")">Time Sheet</a>
</div>*@
<style>
    #leftMenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
    }

    .leftMenuLi {
        float: left;
    }

    .leftMenuLi a {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .leftMenuLi a:hover:not(.active) {
            background-color: #ddd;
        }

        .leftMenuLi a.active {
            color: white;
            background-color: #4CAF50;
        }
</style>
<ul id="leftMenu">
    <li class="leftMenuLi"><a id="splicerPrepLink" href="/@controllerName/Index" class="@(@actionName == "Index" ? "active" : "")">Prep</a></li>
    <li class="leftMenuLi"><a href="/@controllerName/Test" class="@(@actionName == "Test" ? "active" : "")">Test</a></li>
    <li class="leftMenuLi"><a href="/@controllerName/TimeSheet" class="@(@actionName == "TimeSheet" ? "active" : "")">Time Sheet</a></li>
</ul>
